{{#if addAnswer}}
  <form>
    <div class="form-group">
      <label for="user"> Name:</label>
      {{input id="user" value=user placeholder="your name"}}
    </div>
    <div class="form-group">
      <label for="response">Answer:</label>
      {{input id="response" value=response placeholder="your response"}}
    </div>
    <button {{action 'saveAnswer'}}>Submit Answer</button>
  </form>
{{else}}
  <hr>
  <h3>Click below to answer this Question:</h3>
  <button {{action 'showAnswerForm'}}>Answer</button>
{{/if}}
