<li class="line-item">
  {{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}
  {{most-answers question}} {{#link-to 'question' question.id}}{{question.content}} by {{question.author}} has {{answerTotal}} responses {{/link-to}}<br>
  <button {{action 'addQuestion' question}}>Add to Favorites</button>
</li>
